@import "/src/variables.scss";

.grant-summary {
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  padding: 3%;
  height: 150px;
  @include media-mobile-landscape {
    flex-direction: column;
  }

  @include media-mobile-portrait {
    flex-direction: column;
  }
  .grant-summary-column {
    display: flex;
    flex-direction: column;
    &:first-child{
      :last-child{
        margin-left: 5px;
      }
    }
    .grant-summary-cell {
      display: flex;
      height: 50%;
      flex-direction: column;
      &:first-child {
        margin-bottom: 10%;
      }
      @include media-mobile-landscape {
        flex-direction: row;
        margin: 2% 0% !important;
      }

      @include media-mobile-portrait {
        flex-direction: row;
        margin: 2% 0% !important;
      }
      p {
        @include media-mobile-landscape {
          margin: 1% 0% !important;
        }

        @include media-mobile-portrait {
          margin: 1% 0% !important;
        }
      }
      
    }
  }

  @include media-tablet-landscape {
    border-radius: 16px;
    padding: 14px;
  }

  @include media-tablet-portrait {
    border-radius: 16px;
    padding: 14px;
  }

  @include media-mobile-landscape {
    border-radius: 16px;
    padding: 16px;
  }

  @include media-mobile-portrait {
    border-radius: 16px;
    padding: 16px;
  }
  p {
    font-family: "Montsserrat Light";
    font-weight: 700;
  }
  h3 {
    color: #2c4ec5;
    font-family: "Open Sans Light";
  }
  .grant-sections-toggler {
    display: none;
    justify-content: end;
    background-color: transparent;
    @include media-mobile-landscape {
      display: flex;
      position: fixed;
      bottom: 5%;
      right: 5%;
      z-index: 2;
    }
    @include media-mobile-portrait {
      display: flex;
      position: fixed;
      bottom: 5%;
      right: 5%;
      z-index: 2;
    }
    img {
      cursor: pointer;
    }
  }
}
