@import "/src/variables.scss";

.grant-header {
  display: flex;
  background: url("../../../assets/grants-header-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  border-radius: 38px;
  padding: 0px 4%;
  height: 30vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  @include media-tablet-landscape {
    border-radius: 18px;
  }
  @include media-tablet-portrait {
    border-radius: 16px;
  }
  @include media-mobile-landscape {
    border-radius: 16px;
  }
  @include media-mobile-portrait {
    border-radius: 16px;
  }
  .backward-button-wrapper {
    display: none;
    @include media-tablet-landscape {
      position: absolute;
      top: 3%;
      left: 6%;
      display: block;
    }

    @include media-tablet-portrait {
      position: absolute;
      top: 3%;
      left: 6%;
      display: block;
    }

    @include media-mobile-landscape {
      display: none;
    }

    @include media-mobile-portrait {
      display: none;
    }
  }
  .backward-button {
    img {
      width: 19px;
      height: 19px;
    }
    a {
      font-size: 14px;
      color: #ffffff;
    }
  }
  h1 {
    font-family: "Montsserrat SemiBold";
    font-size: 4vw;
    @include media-tablet-landscape {
      font-size: 38px;
    }

    @include media-tablet-portrait {
      font-size: 32px;
    }

    @include media-mobile-landscape {
      margin-top: 5%;
      font-size: 24px;
    }

    @include media-mobile-portrait {
      font-size: 24px;
    }
  }
  @include media-tablet-landscape {
    height: 280px;
  }

  @include media-tablet-portrait {
    height: 237px;
  }

  @include media-mobile-landscape {
    height: 80vw;
    justify-content: space-around;
    flex-direction: column;
    background: url("../../../assets/grants-header-ml.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include media-mobile-portrait {
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vw;
    background: url("../../../assets/grants-header-mp.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.grant-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include media-mobile-landscape {
    left: -8vw;
  }

  @include media-mobile-portrait {
    left: -8vw;
  }
  h1{
    padding-right: 10%;
  }
  @include media-tablet-landscape {
    top: 4vw;
    // width: 80%;
  }
  @include media-tablet-portrait {
    top: 4vw;
    width: 80%;
  }
  
}

.grant-header-organizer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 5vw;
  padding: 0% 2%;
  width: 402px;
  height: 17vw;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(20px);
  h3 {
    font-family: "Open Sans Regular";
    font-size: 30px;
    @include media-laptop{
      font-size: 20px;
    }
    @include media-tablet-landscape {
      font-size: 16px;
    }

    @include media-tablet-portrait {
      font-size: 14px;
    }

    @include media-mobile-landscape {
      font-size: 16px;
    }

    @include media-mobile-portrait {
      font-size: 16px;
    }
  }
  h4 {
    font-family: "Montsserrat SemiBold";
    font-size: 24px;
    @include media-laptop{
      font-size: 20px;
    }
    @include media-tablet-landscape {
      font-size: 16px;
    }

    @include media-tablet-portrait {
      font-size: 14px;
    }

    @include media-mobile-landscape {
      font-size: 16px;
    }

    @include media-mobile-portrait {
      font-size: 16px;
    }
  }
  @include media-laptop{
    border-radius: 16px;
    width: 25vw;
  }
  @include media-tablet-landscape {
    width: 256px;
    height: 147px;
    border-radius: 16px;
  }

  @include media-tablet-portrait {
    width: 180px;
    height: 117px;
    border-radius: 16px;
  }

  @include media-mobile-landscape {
    width: 100%;
    height: 25vw;
    border-radius: 16px;
  }

  @include media-mobile-portrait {
    width: 100%;
    height: 198px;
    border-radius: 16px;
    top:0vw;
  }
  a {
    display: flex;
    font-weight: 600;
    &:hover {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 2px 0 #c2e4ff, 0 0 4px 0 #c2e4ff, 0 0 13px 0 #c2e4ff,
        0 0 27px 0 #c2e4ff, 0 0 46px 0 #c2e4ff, 0 0 80px 0 #c2e4ff;
    }
    @include media-laptop{
      width: 20vw;
    }
    @include media-tablet-landscape {
      display: none;
    }

    @include media-tablet-portrait {
      display: none;
    }
    @include media-mobile-landscape {
      display: none;
    }

    @include media-mobile-portrait {
      display: flex;
      width: 70%;
    }
  }
}

a {
  display: none;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 25%;
  background-color: #ffffff;
  color: #2c4ec5;
  text-decoration: none;
  border-radius: 16px;
  font-size: 24px;
  align-self: center;
  @include media-laptop{
    border-radius: 16px;
    font-size: 16px;
  }
  @include media-tablet-landscape {
    display: none;
  }

  @include media-tablet-portrait {
    display: none;
  }

  @include media-mobile-landscape {
    display: flex;
    width: 200px;
    height: 46px;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 4%;
    align-self: start;
  }

  @include media-mobile-portrait {
    display: none;
    width: 200px;
    height: 46px;
    font-size: 14px;
    border-radius: 8px;
    align-self: center;
  }
}
