@import "/src/variables.scss";

.grantpage-sections-list {
  border: 1px solid #6e7880;
  border-radius: 35px;
  width: 37vh;
  position: sticky;
  top: 85px;
  background-color: #ecf7fd;
  @include media-laptop{
    width: 29vh;
  }
  @include media-tablet-landscape {
    width: 257px;
    height: 160px;
    border-radius: 20px;
  }

  @include media-tablet-portrait {
    width: 180px;
    border-radius: 20px;
  }

  @include media-mobile-landscape {
    border-radius: 16px;
  }

  @include media-mobile-portrait {
    border-radius: 16px;
  }
  ol {
    padding-right: 20px;
    font-size: 24px;
    @include media-laptop{
      font-size: 20px;
    }
    @include media-tablet-landscape {
      padding-right: 0px;
      font-size: 14px;
      padding-left: 25px;
    }

    @include media-tablet-portrait {
      font-size: 12px;
    }

    @include media-mobile-landscape {
      font-size: 16px;
    }

    @include media-mobile-portrait {
      font-size: 16px;
    }
    li {
      margin: 7% 0%;
      a {
        background-color: transparent;
        display: block;
        color: #000000;
        font-size: 24px;
        height: auto;
        width: 100%;
        @include media-laptop{
          font-size: 20px;
        }
        @include media-tablet-landscape {
          padding-right: 0px;
          font-size: 14px;
        }

        @include media-tablet-portrait {
          font-size: 12px;
        }

        @include media-mobile-landscape {
          font-size: 16px;
        }

        @include media-mobile-portrait {
          font-size: 16px;
        }
      }
    }
  }
}
