@import "/src/variables.scss";

.grants-list {
  overflow: hidden;
  padding-left: 65px;
  @include media-mobile-landscape {
    padding: 0px;
  }

  @include media-mobile-portrait {
    padding: 0px;
  }
}
