@import '/src/variables.scss';

.grant-card-info{
  width: 30%;
  border-radius: 46px;
  background: url('/src/assets/card-info.svg');
  padding: 20px;
  .grant-card-info-content{
    backdrop-filter: blur(45px);
  }
}

h3 {
  font-family: "Open Sans Regular";
  font-size: 28px;
  @include media-tablet-landscape {
    font-size: 12px;
  }

  @include media-tablet-portrait {
    font-size: 12px;
  }

  @include media-mobile-landscape {
    font-size: 14px;
  }

  @include media-mobile-portrait {
    font-size: 14px;
  }
}

h4 {
  font-family: "Open Sans Light";
  font-size: 24px;
  @include media-tablet-landscape {
    font-size: 12px;
  }

  @include media-tablet-portrait {
    font-size: 12px;
  }

  @include media-mobile-landscape {
    font-size: 14px;
  }

  @include media-mobile-portrait {
    font-size: 14px;
  }
}
