@import "/src/variables.scss";

.filter-side {
  width: 400px;
  @include media-tablet-landscape {
    width: 197px;
  }

  @include media-tablet-portrait {
    width: 176px;
  }

  @include media-mobile-landscape {
    display: none;
  }

  @include media-mobile-portrait {
    display: none;
  }
}

.filter{
  width: 110%;
  @include media-tablet-landscape {
    width: 120%;
  }

  @include media-tablet-portrait {
    width: 120%;
  }
}

.filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: #ecf7fd;
  background-image: url('../../../../src/assets/filter-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  .filter-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    // background-color: #ecf7fd;
    border-bottom-right-radius: 30px;
  }
}

.filter-header-logo {
  width: 50%;
  // background-color: #ffffff;
  h3 {
    font-family: "Montsserrat SemiBold";
    font-size: 18px;
  }
}

.filter-header-reset {
  height: 65px;
  width: 50%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  // background-color: #ffffff;
  & button {
    position: relative;
    z-index: 2;
    font-family: "Open Sans Regular";
    font-size: 21px;
    height: 50px;
    width: 142px;
    color:#6E7880;
    border-radius: 100px;
    @include media-tablet-landscape {
      height: 30px;
      width: 87px;
      font-size: 12px;
      left: 8px;
    }

    @include media-tablet-portrait {
      height: 30px;
      width: 87px;
      font-size: 12px;
      left: 12px;
    }

    @include media-mobile-landscape {
      height: 38px;
      width: 104px;
      font-size: 16px;
    }

    @include media-mobile-portrait {
      height: 38px;
      width: 104px;
      font-size: 16px;
    }

    border: 1px solid #99a7b2;
    background-color: #ffffff;
    position: relative;
    top: 25%;
    left: 15%;
  }
  @include media-tablet-landscape {
    height: 52px;
  }

  @include media-tablet-portrait {
    height: 52px;
  }
}

.filter-body {
  position: relative;
  top: 0px;
  z-index: 1;
  background-color: #ffffff;
  // border-top-left-radius: 28px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 20px 25px;
  overflow: hidden;
  @include media-tablet-landscape {
    // border-top-left-radius: 0px;
    padding: 20px 14px;
  }
  @include media-tablet-portrait {
    // border-top-left-radius: 0px;
    padding: 20px 14px;
  }

  @include media-mobile-landscape {
    padding: 20px 14px;
  }

  @include media-mobile-portrait {
    padding: 20px 14px;
  }
  .direction {
    display: flex;
    margin: 30px 0px;
    color: #6e7880;
    label {
      margin-left: 30px;
      font-size: 21px;
      @include media-tablet-landscape {
        font-size: 12px;
        top: -6px;
        left: 0px;
      }

      @include media-tablet-portrait {
        font-size: 10px;
        top: -6px;
        left: 0px;
      }

      @include media-mobile-landscape {
        font-size: 16px;
        top: 0px;
        left: 0px;
      }

      @include media-mobile-portrait {
        font-size: 14px;
        top: 0px;
        left: 0px;
      }
    }
  }

  .amount {
    display: flex;
    margin: 30px 0px;
    color: #6e7880;
    label {
      margin-left: 30px;
      font-size: 21px;
      left: 8px;
      @include media-tablet-landscape {
        font-size: 12px;
        left: 0px;
      }

      @include media-tablet-portrait {
        font-size: 10px;
      }

      @include media-mobile-landscape {
        font-size: 16px;
      }

      @include media-mobile-portrait {
        font-size: 14px;
      }
    }
  }
  .amount input[type="radio"] {
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #dbe4eb;
    border-radius: 50%;
    margin: 0;
    position: relative;
    @include media-tablet-landscape {
      height: 20px;
      width: 20px;
    }

    @include media-tablet-portrait {
      height: 20px;
      width: 20px;
    }

    @include media-mobile-landscape {
      height: 24px;
      width: 24px;
    }

    @include media-mobile-portrait {
      height: 24px;
      width: 24px;
    }
  }

  .amount label {
  }

  .amount input[type="radio"]:checked {
    background-color: #dbe4eb;
  }

  .amount input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background-color: #2d4ef8;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    @include media-tablet-landscape {
      height: 11px;
      width: 11px;
    }

    @include media-tablet-portrait {
      height: 11px;
      width: 11px;
    }

    @include media-mobile-landscape {
      height: 13px;
      width: 13px;
    }

    @include media-mobile-portrait {
      height: 13px;
      width: 13px;
    }
  }

  h4 {
    font-family: "Montsserrat SemiBold";
    margin: 30px 0px;
    &:nth-child(3){
      margin: 45px 0px 30px 0px;
    }
    @include media-tablet-landscape {
      margin: 20px 0px;
      font-size: 14px;
    }

    @include media-tablet-portrait {
      margin: 20px 0px;
      font-size: 14px;
    }

    @include media-mobile-landscape {
      margin: 15px 0px;
      font-size: 16px;
    }

    @include media-mobile-portrait {
      margin: 15px 0px;
      font-size: 16px;
    }
  }
}

.filter-datepicker {
  display: flex;
  justify-content: center;
  border-radius: 14px;
  margin-top: 15px;
  box-shadow: 0 0 16px rgba(138, 153, 176, 0.12);
  * {
    color: #6e7880;
    background-color: #ffffff;
    border: none;
  }
}

.filter-date-group {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans Regular";
  font-size: 14px;
  .indicator-divisor{
    width: 1px;
    background-color: #E0E4E7;
  }
  label {
    @include media-tablet-landscape {
      font-size: 12px;
    }

    @include media-tablet-portrait {
      font-size: 12px;
    }

    @include media-mobile-landscape {
      font-size: 16px;
    }

    @include media-mobile-portrait {
      font-size: 16px;
    }
  }
}

.filter-date-indicator {
  input {
    height: 35px;
    padding-left: 40px;
    font-size: 21px;
    @include media-tablet-landscape {
      padding-left: 25px;
      font-size: 12px;
    }

    @include media-tablet-portrait {
      padding-left: 25px;
      font-size: 10px;
    }

    @include media-mobile-landscape {
      padding-left: 25px;
      font-size: 14px;
    }

    @include media-mobile-portrait {
      padding-left: 25px;
      font-size: 14px;
    }
  }
  position: relative;
  width: 160px;
  @include media-tablet-landscape {
    width: 100px;
  }

  @include media-tablet-portrait {
    width: 100px;
  }

  @include media-mobile-landscape {
  }

  @include media-mobile-portrait {
  }
  .filter-date-icon {
    top: 20px;
    left: 5px;
    height: 30px;
    width: 30px;
    @include media-tablet-landscape {
      top: 25px;
      left: 0px;
      height: 16px;
      width: 16px;
    }

    @include media-tablet-portrait {
      top: 25px;
      left: 0px;
      height: 20px;
      width: 20px;
    }

    @include media-mobile-landscape {
      top: 25px;
      left: 0px;
      height: 24px;
      width: 24px;
    }

    @include media-mobile-portrait {
      left: 0px;
      height: 24px;
      width: 24px;
    }
    background: url("../../../assets/calendar.svg");
    background-size: contain;
    position: absolute;
    cursor: pointer;
    &.active {
      background: url("../../../assets/calendar-active.svg");
      background-size: contain;
    }
  }
}

.active {
  .mantine-DateInput-input {
    color: #2d4ef8;
  }
}

.mantine-DateInput-input {
  color: #99a7b2;
  border: none;
  &:disabled {
    background-color: transparent;
  }
}
.mantine-DateInput-label {
  color: #99a7b2;
  position: relative;
  left: 35px;
  @include media-tablet-landscape {
    display: block;
    width: 100px;
    left: 0px;
  }

  @include media-tablet-portrait {
    display: block;
    width: 100px;
    left: 0px;
  }

  @include media-mobile-landscape {
    display: block;
    width: 100px;
    left: 0px;
  }

  @include media-mobile-portrait {
    display: block;
    width: 100px;
    left: 0px;
  }
}
