.grants-searchbar {
  display: flex;
  .grants-searchbar-input {
    display: flex;
    :first-child{
        height: 36px;
        width: 36px;
    }
    :last-child{
        height: 26px;
        width: 26px;
        align-self: center;
        cursor: pointer;
    }
  }
  .grants-searchbar-btn {
    display: flex;
  }
}
