@import "/src/variables.scss";

.grants-searchbar {
  display: flex;
  
  .grants-searchbar-input {
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    :first-child {
      height: 36px;
      width: 36px;
    }
    :last-child {
      height: 26px;
      width: 26px;
      align-self: center;
      cursor: pointer;
    }
    input {
      border: none;
      outline: none;
    }
  }
  .grants-searchbar-btn {
    display: flex;
    button {
      background-color: #ffffff;
      border-radius: 50px;
      border: none;
      height: 58px;
      width: 124px;
      font-size: 24px;
      @include media-tablet-landscape {
        height: 34px;
        width: 78px;
        font-size: 14px;
      }

      @include media-tablet-portrait {
        height: 34px;
        width: 78px;
        font-size: 14px;
      }

      @include media-mobile-landscape {
        height: 34px;
        width: 78px;
        font-size: 14px;
      }

      @include media-mobile-portrait {
        height: 34px;
        width: 78px;
        font-size: 14px;
      }
    }
  }
}
