@import "/src/variables.scss";

.grant-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 46px;
  width: 70%;
  padding: 20px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #45459d;
    width: 100%;
    color: white;
    text-decoration: none;
    border-radius: 19px;
    height: 68px;
  @include media-tablet-landscape {
    height: 36px;
  }

  @include media-tablet-portrait {
    height: 34px;
  }

  @include media-mobile-landscape {
    height: 42px;
  }

  @include media-mobile-portrait {
    height: 42px;
  }
  }
}
