@import "/src/variables.scss";

.grant-header {
  display: flex;
  background: url("/src/assets/grants-header-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  border-radius: 38px;
  padding: 0px 4%;
  height: 620px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 84px;
    @include media-tablet-landscape {
      font-size: 38px;
    }

    @include media-tablet-portrait {
      font-size: 32px;
    }

    @include media-mobile-landscape {
      font-size: 24px;
    }

    @include media-mobile-portrait {
      font-size: 24px;
    }
  }
  @include media-tablet-landscape {
    height: 280px;
  }

  @include media-tablet-portrait {
    height: 237px;
  }

  @include media-mobile-landscape {
    height: 255px;
    background: url("/src/assets/grants-header-ml.svg");
  }

  @include media-mobile-portrait {
    flex-direction: column;
    height: 443px;
    background: url("/src/assets/grants-header-mp.svg");
  }
}
.grant-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grant-header-organizer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0% 2%;
  width: 402px;
  height: 364px;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(20px);
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 92px;
    background-color: #ffffff;
    color: #2C4EC5;
    text-decoration: none;
    border-radius: 16px;
    font-size: 24px;
    align-self: flex-end;
  }
}
