.grants-header{
    display: flex;
    background: url('/src/assets/grants-header-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 0px 4%;
}
.grants-header-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grants-header-right{
    img{
        position: relative;
        top: 5px;
    }
}