@import "/src/variables.scss";

.grants-header{
    display: flex;
    background: url('/src/assets/grants-header-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 0px 4%;
    height: 620px;
    @include media-tablet-landscape {
        height: 280px;
      }
    
      @include media-tablet-portrait {
        height: 237px;
      }
    
      @include media-mobile-landscape {
        height: 255px;
        background: url('/src/assets/grants-header-ml.svg');
      }
    
      @include media-mobile-portrait {
        height: 443px;
        background: url('/src/assets/grants-header-mp.svg');
      }
}
.grants-header-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grants-header-right{
    img{
        position: relative;
        top: 5px;
    }
}