.grants-header{
    display: flex;
    background: url('/src/assets/header-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 0px 4%;
}
.grants-header-left{
    display: flex;
    align-items: center;
    justify-content: center;
}