@import "/src/variables.scss";

.grant-card-info {
  width: 30%;
  border-radius: 46px;
  background: url("../../../assets/card-info.svg");
  padding: 15px;
  @include media-tablet-landscape {
    border-radius: 20px;
    padding: 10px;
  }

  @include media-tablet-portrait {
    border-radius: 20px;
    padding: 10px;
  }
  @include media-mobile-landscape {
    width: 100%;
    padding: 0px;
    border-radius: 16px;
  }

  @include media-mobile-portrait {
    width: 100%;
    padding: 0px;
    border-radius: 16px;
  }
  .grant-card-info-content {
    border-radius: 46px;
    backdrop-filter: blur(45px);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-tablet-landscape {
      border-radius: 20px;
    }

    @include media-tablet-portrait {
      border-radius: 20px;
    }
    @include media-mobile-landscape {
      margin: 20px;
      border-radius: 16px;
    }

    @include media-mobile-portrait {
      margin: 20px;
      border-radius: 16px;
    }
    div {
      padding: 15px 10px;
    }
  }
}

h3 {
  font-family: "Open Sans Light";
  font-weight: bold;
  font-size: 28px;
  @include media-tablet-landscape {
    font-size: 12px;
  }

  @include media-tablet-portrait {
    font-size: 12px;
  }

  @include media-mobile-landscape {
    font-size: 14px;
  }

  @include media-mobile-portrait {
    font-size: 14px;
  }
}

h4 {
  font-family: "Open Sans Light";
  font-size: 24px;
  font-weight: 100;
  @include media-tablet-landscape {
    font-size: 12px;
  }

  @include media-tablet-portrait {
    font-size: 12px;
  }

  @include media-mobile-landscape {
    font-size: 14px;
  }

  @include media-mobile-portrait {
    font-size: 14px;
  }
}
