.mantine-DatePicker-calendarHeader{
    display: flex;
}

.mantine-DatePicker-calendarHeaderControl:first-child svg{
    transform: rotate(90deg);
}

.mantine-DatePicker-calendarHeaderControl:last-child svg{
    transform: rotate(270deg);
}

.mantine-DatePicker-day[data-selected=true], [data-in-range=true]{
    color: #2D4EF8;
}