@import "/src/variables.scss";

.mantine-DatePicker-calendarHeader {
  display: flex;
  justify-content: space-between;
  button {
    font-size: 21px;
    @include media-tablet-landscape {
        font-size: 10px;
    }

    @include media-tablet-portrait {
        font-size: 10px;
    }

    @include media-mobile-landscape {
    }

    @include media-mobile-portrait {
    }
  }
}

.mantine-DatePicker-calendarHeaderControl {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border: none;
  background-color: white;
  width: 60px;
  &:first-child svg {
    transform: rotate(90deg) scale(1.5);
  }
  &:last-child svg {
    transform: rotate(270deg) scale(1.5);
  }
}

.mantine-DatePicker-calendarHeaderLevel {
  text-transform: capitalize;
  background-color: white;
  border: none;
}

.mantine-DatePicker-day[data-selected="true"],
[data-in-range="true"] {
  color: #2d4ef8;
}

.mantine-DatePicker-month * {
    font-size: 16px;
    @include media-tablet-landscape {
        font-size: 10px;
    }

    @include media-tablet-portrait {
        font-size: 10px;
    }

    @include media-mobile-landscape {
    }

    @include media-mobile-portrait {
    }
}
