.filter-header {
  display: flex;
  align-items: center;
}

.filter-datepicker {
  width: 245px;
}

.filter-date-indicator {
  input {
    width: 110px;
    height: 25px;
  }
  input[type="date"] {
    &::-webkit-calendar-picker-indicator {
      background: url("/src/assets/calendar.svg");
      background-size: contain;
      position: absolute;
      &:focus{
        background: url("/src/assets/calendar-active.svg");
        background-size: contain;
      }
    }
    &::-webkit-datetime-edit{
        margin-left: 25px;
    }
  }
}
