.filter {
}

.filter-header {
  display: flex;
  align-items: center;
}

.filter-body {
  background-color: #ffffff;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.filter-datepicker {
  display: flex;
  justify-content: center;
  * {
    color: #6e7880;
    background-color: #ffffff;
    border: none;
  }
}

.filter-date-group {
  display: flex;
}

.filter-date-indicator {
  &:first-child {
    border-right: 1px solid #e0e4e7;
  }
  input {
    height: 35px;
    width: 100px;
    padding-left: 40px;
  }
  position: relative;
  .filter-date-icon {
    top: 25px;
    left: 5px;
    height: 25px;
    width: 25px;
    background: url("/src/assets/calendar.svg");
    background-size: contain;
    position: absolute;
    cursor: pointer;
    &.active {
      background: url("/src/assets/calendar-active.svg");
      background-size: contain;
    }
  }
}

.active {
  .mantine-DateInput-input {
    color: #2d4ef8;
  }
}

.mantine-DateInput-input {
  color: #99a7b2;
  border: none;
  &:disabled {
    background-color: transparent;
  }
}
.mantine-DateInput-label {
  color: #99a7b2;
  position: relative;
  left: 35px;
}
