@import "/src/variables.scss";

.grantpage-sections {
  margin-left: 2%;
  @include media-mobile-landscape {
    display: none;
  }

  @include media-mobile-portrait {
    display: none;
  }
  h1 {
    font-size: 38px;
    margin-left: 25px;
    @include media-tablet-landscape {
      font-size: 16px;
    }

    @include media-tablet-portrait {
      font-size: 16px;
    }

    @include media-mobile-landscape {
      font-size: 16px;
    }

    @include media-mobile-portrait {
      font-size: 16px;
    }
  }
  a {
    display: none;
    justify-self: center;
    font-size: 16px;
    margin-top: 10%;
    font-weight: bold;
    border-radius: 8px;
    @include media-tablet-landscape {
      display: flex;
      width: 180px;
      height: 46px;
      position: sticky;
      top: 255px;
    }
    @include media-tablet-portrait {
      display: flex;
      width: 180px;
      height: 46px;
      position: sticky;
      top: 265px;
    }

    @include media-mobile-landscape {
      display: none;
    }

    @include media-mobile-portrait {
      display: none;
    }
  }
}
