@import "/src/variables.scss";

.grantpage-content {
  display: flex;
  margin-top: 3%;
  @include media-tablet-landscape {
    margin-top: 3%;
    margin-right: 4%;
    margin-left: 6%;
  }

  @include media-tablet-portrait {
    margin-top: 3%;
  }
  @include media-mobile-landscape {
    margin-top: 5%;
  }

  @include media-mobile-portrait {
    margin-top: 7%;
  }
  h1 {
    margin-bottom: 5px;
  }
}
