@import "/src/variables.scss";

.grant-requirements {
  border-radius: 35px;
  padding: 48px;
  @include media-tablet-landscape {
    border-radius: 16px;
    padding: 14px;
  }

  @include media-tablet-portrait {
    border-radius: 16px;
    padding: 14px;
  }

  @include media-mobile-landscape {
    border-radius: 16px;
    padding: 16px;
  }

  @include media-mobile-portrait {
    border-radius: 16px;
    padding: 16px;
  }
}
