@import "/src/variables.scss";

.grant-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 46px;
  width: 70%;
  padding: 20px;
  @include media-tablet-landscape {
    border-radius: 20px;
    padding: 10px;
  }

  @include media-tablet-portrait {
    border-radius: 20px;
    padding: 10px;
  }
  @include media-mobile-landscape {
    border-radius: 16px;
    width: 100%;
    padding: 0px;
  }

  @include media-mobile-portrait {
    border-radius: 16px;
    width: 100%;
    padding: 0px;
  }
  & > div{
    @include media-mobile-landscape {
      margin: 20px;
    }
  
    @include media-mobile-portrait {
      margin: 20px;
    }
  }
  h3{
    font-size: 38px;
    margin: 2% 0%;
    @include media-tablet-landscape {
      font-size: 16px;
    }
  
    @include media-tablet-portrait {
      font-size: 16px;
    }
  
    @include media-mobile-landscape {
      font-size: 18px;
    }
  
    @include media-mobile-portrait {
      font-size: 18px;
    }
  }
  p {
    color: #6E7880;
  }
  a {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    justify-content: center;
    background-color: #45459d;
    width: 100%;
    color: white;
    text-decoration: none;
    border-radius: 19px;
    height: 68px;
    font-size: 24px;
  @include media-tablet-landscape {
    border-radius: 4px;
    height: 36px;
    font-size: 14px;
  }

  @include media-tablet-portrait {
    border-radius: 4px;
    height: 34px;
    font-size: 12px;
  }

  @include media-mobile-landscape {
    border-radius: 8px;
    height: 42px;
    font-size: 16px;
  }

  @include media-mobile-portrait {
    border-radius: 8px;
    height: 42px;
    font-size: 16px;
  }
  }
}
