@import "/src/variables.scss";

.grantpage-description {
  div {
    background-color: #ffffff;
  }
  h1 {
    font-size: 38px;
    margin-left: 24px;
    &:not(:first-of-type) {
      margin-top: 4%;
      margin-bottom: 2%;
      @include media-mobile-landscape {
        margin-top: 6%;
        margin-bottom: 3%;
      }

      @include media-mobile-portrait {
        margin-top: 7%;
        margin-bottom: 3%;
      }
    }
    @include media-tablet-landscape {
      margin-left: 14px;
      font-size: 16px;
    }

    @include media-tablet-portrait {
      margin-left: 14px;
      font-size: 16px;
    }

    @include media-mobile-landscape {
      margin-left: 16px;
      font-size: 16px;
    }

    @include media-mobile-portrait {
      margin-left: 16px;
      font-size: 16px;
    }
  }
  p {
    font-size: 24px;
    @include media-tablet-landscape {
      font-size: 1rem;
    }

    @include media-tablet-portrait {
      font-size: 14px;
    }

    @include media-mobile-landscape {
      font-size: 14px;
    }

    @include media-mobile-portrait {
      font-size: 14px;
    }
  }
  h3{
    @include media-tablet-landscape {
      font-size: 1rem;
    }

    @include media-tablet-portrait {

    }

    @include media-mobile-landscape {

    }

    @include media-mobile-portrait {

    }
  }
}
