@import "/src/variables.scss";

.grant-card {
  display: flex;
  height: auto;
  margin-bottom: 2%;
  @include media-mobile-landscape {
    flex-direction: column;
    margin-bottom: 5%;
  }

  @include media-mobile-portrait {
    flex-direction: column;
    margin-bottom: 5%;
  }
}
