@import "/src/variables.scss";

.grant-card {
  display: flex;
  height: 470px;
  margin-bottom: 2%;
  @include media-tablet-landscape {
    height: 210px;
  }

  @include media-tablet-portrait {
    height: 195px;
  }

  @include media-mobile-landscape {
    height: auto;
  }

  @include media-mobile-portrait {
    height: auto;
  }
  @include media-mobile-landscape {
    flex-direction: column;
    margin-bottom: 5%;
  }

  @include media-mobile-portrait {
    flex-direction: column;
    margin-bottom: 5%;
  }
}
