body{
  padding: 19px;
}

* {
  box-sizing: border-box;
}

.pixel-perfect-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  z-index: 999;
}

@font-face {
  font-family: "Montsserrat SemiBold";
  src: local("Montsserrat SemiBold"), url(./fonts/Montserrat-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Regular";
  src: local("Open Sans Regular"), url(./fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montsserrat Light";
  src: local("Montsserrat Light"), url(./fonts/Montserrat-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"), url(./fonts/OpenSans-Light.ttf) format("truetype");
}

.modal{
  position: absolute;
  width: 100vw;
  top: 0px;
}

#shadow-box {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: transparent;
  transition: opacity 0.5s;
}

.toggled-shadow-box {
  visibility: visible !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  opacity: 1 !important;
}
