@font-face {
  font-family: "Montsserrat SemiBold";
  src: local("Montsserrat SemiBold"), url(./fonts/Montserrat-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Regular";
  src: local("Open Sans Regular"), url(./fonts/OpenSans-Regular.ttf) format("truetype");
}
