body{
  padding: 15px;
}

@font-face {
  font-family: "Montsserrat SemiBold";
  src: local("Montsserrat SemiBold"), url(./fonts/Montserrat-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Regular";
  src: local("Open Sans Regular"), url(./fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montsserrat Light";
  src: local("Montsserrat Light"), url(./fonts/Montserrat-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"), url(./fonts/OpenSans-Light.ttf) format("truetype");
}

.modal{
  position: absolute;
  width: 100vw;
  top: 0px;
}

#modal div{

}